<div class="card">
  <div class="card-header">
    {{ title }}
  </div>

  <div class="card-body">
    <div class="alert alert-success" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <form
      novalidate
      (ngSubmit)="createActivity(saveForm)"
      #saveForm="ngForm"
      autocomplete="off"
    >
      <fieldset>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="activity"
            >activity *</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="activity"
              type="text"
              placeholder="Read a Book"
              required
              ngModel
              name="activity"
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="accessibility"
            >accessibility *</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="accessibility"
              type="number"
              placeholder="0.0"
              step="0.01"
              min="0"
              max="1"
              required
              ngModel
              name="accessibility"
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="type">type *</label>
          <div class="col-md-8">
            <select class="form-control" id="type" required ngModel name="type">
              <option value="">--Please choose an option--</option>
              <option *ngFor="let t of _TYPES" [ngValue]="t">{{ t }}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="participants"
            >participants *</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="participants"
              type="number"
              placeholder="1"
              step="1"
              min="1"
              max="99"
              required
              ngModel
              name="participants"
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="price">price *</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="price"
              type="number"
              placeholder="0.0"
              step="0.01"
              min="0"
              max="1"
              required
              ngModel
              name="price"
            />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="link">link</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="link"
              type="text"
              placeholder="http://www.activity.com"
              ngModel
              name="link"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 offset-md-2">
            <button
              class="btn btn-primary mr-3"
              type="submit"
              style="width: 80px;"
              [disabled]="saveForm.invalid"
            >
              Save
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
