<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/random']"
        >Home</a
      >
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/new']"
        >Add Activity</a
      >
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
