<div class="card">
  <div class="card-header">
    Bored?
    <ng-container *ngIf="activity; else elseBlock">
      Why don't you <em>{{ activity?.activity | lowercase }}?</em>
    </ng-container>
    <ng-template #elseBlock>
      Click the "Show" button and we'll suggest an activity to do.
    </ng-template>
  </div>
  <div class="card-body">
    <div *ngIf="hint" class="alert alert-warning">
      {{ hint }}
    </div>
    <div *ngIf="!hint && errorMessage" class="alert alert-danger">
      Error: {{ errorMessage }}
    </div>
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="./assets/svg/undraw_back_home_nl5c.svg"
          class="img-responsive center-block"
          style="max-height: 300px; padding-bottom: 50px;"
        />
      </div>
      <hr />
      <div class="row">
        <div class="col-md-2 filter"><strong>Filter by:</strong></div>
        <div class="col-md-4 filter">
          <label for="price">Price:</label>
          <input
            id="price"
            type="number"
            placeholder="0.0"
            step="0.01"
            min="0"
            max="1"
            [(ngModel)]="priceFilter"
          />
        </div>
        <div class="col-md-4 filter">
          <label for="participants">Nb of Participants:</label>
          <input
            id="participants"
            type="number"
            placeholder="1"
            step="1"
            min="1"
            max="99"
            [(ngModel)]="participantsFilter"
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="getActivity()">Show</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table" *ngIf="activity">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Type</th>
              <th>Access.</th>
              <th>Nb of Particip.</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="activity.link; else elseBlock">
                <a [href]="activity.link">{{ activity.activity }}</a>
              </td>
              <ng-template #elseBlock
                ><td>{{ activity.activity }}</td></ng-template
              >
              <td>{{ activity.type }}</td>
              <td>{{ activity.accessibility }}</td>
              <td>{{ activity.participants }}</td>
              <td>{{ activity.price | currency: "USD":"symbol":"1.2-2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
